<%- include('partials/header'); -%>
<body>
<div class="container">
  <h2 class="mt-5">ABOUT</h2>
  <blockquote class="blockquote mt-5">
  <p class="mb-0"><%= aboutContent %></p>
  <footer class="blockquote-footer mt-3">Donald Tang - <cite title="Source Title">Developer/Founder of INCOGNITO</cite></footer>
</blockquote>
<%- include('partials/footer'); -%>
