<%- include('partials/header') -%>
<body>
<div class="container">
  <h2 class="mt-5">NEW POST</h2>
  <form action="/compose" method="POST">
    <div class="form-group mt-5">
      <input class="form-control mt-3" type="text" name="postTitle" placeholder="Title">
      <textarea class="form-control mt-3" name="postBody" rows="5" cols="30" placeholder="Post"></textarea>
    </div>
    <button class="btn btn-primary text-center" type="submit" name="button">Publish Post</button>
  </form>
<%- include('partials/footer') -%>
