<%- include('partials/header'); -%>
<body>
<div class="container">
  <h2 class="mt-5">CONTACT US</h2>
  <ul class="list-unstyled mt-5">
  <li>Email: <a href="mailto:turazinyc@gmail.com" target="_blank">Send Mail</a></li>
  <li>Github: <a href="https://github.com/turazi" target="_blank">Click Here</a></li>
  <li>Personal Website: <a href="https://turazi.xyz" target="_blank">Click Here</a></li>
</ul>
<%- include('partials/footer'); -%>
